/* Estilos para a seção "Sobre o Restaurante" */
#about {
    background-color: #F9F9F9; /* Cor de fundo da seção */
    padding: 2rem;
    text-align: justify;
}

#about h2 {
    font-size: 2rem;
    color: #D32F2F; /* Cor do título */
    margin-bottom: 1rem;
    text-align: center;
}

#about p {
    font-size: 1.2rem;
    color: #333; /* Cor do texto */
    line-height: 1.6;
}
